<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5" >
<listeners>
<listener class-name="Test.Listener"/>
</listeners>
<parameter name="URL" value="qaclickacademy.com"/>
  <test name="Home Loan">
    <classes>
      <class name="Test.day1"/>
      <class name="Test.day2"/>
      <class name="Test.day4">
      <methods>
      <include name="WebloginHomeloan"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
   <test name="Car Loan">
   <parameter name="URL" value="carloan.com"/>
   <parameter name="APIKey" value="12345"/>
   <classes>
      <class name="Test.day3">
      <methods>
      <exclude name="MbileloginCarloan"></exclude>
      </methods>
      </class>
    </classes>
   </test>
</suite> <!-- Suite -->
